/* Importation des polices depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Inter:wght@100..900&display=swap');

/* Applique la règle de box-sizing à tous les éléments */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Définit la police par défaut du corps de la page */
body {
  font-family: "Inter", sans-serif;
}

/* Style pour l'en-tête */
header {
  display: flex;
  /* Utilise le modèle de boîte flexible pour l'alignement */
  align-items: center;
  /* Centre les éléments verticalement */
  justify-content: space-between;
  /* Espace les éléments horizontalement */
  color: #ffffff;
  /* Couleur du texte blanche */
  background-color: #000;
  /* Couleur de fond noire */
  padding: 20px 15px;
  /* Ajoute du rembourrage autour de l'en-tête */
}

/* Style pour le logo */
.logo {
  z-index: 100;
  /* Assure que le logo est au-dessus d'autres éléments */
}

/* Style pour le texte du logo */
.logo span {
  font-size: 28px;
  /* Taille de la police */
  font-weight: 700;
  /* Poids de la police (gras) */
}

/* Style pour le menu de navigation */
nav ul {
  display: flex;
  /* Utilise le modèle de boîte flexible pour les éléments de la liste */
}

/* Supprime les puces de la liste */
ul li {
  list-style: none;
}

/* Style pour les liens du menu */
ul li a {
  font-family: "Bakbak One", sans-serif;
  /* Police pour les liens */
  font-weight: 400;
  /* Poids de la police */
  margin-left: 60px;
  /* Espace entre les liens */
  text-decoration: none;
  /* Supprime la décoration (soulignement) des liens */
  text-transform: uppercase;
  /* Transforme le texte en majuscules */
  font-size: 19px;
  /* Taille de la police */
  color: #ffffff;
  /* Couleur du texte */
}

/* Style pour le bouton du menu (visible uniquement sur les petits écrans) */
.menu-btn {
  display: none;
  /* Caché par défaut */
  font-size: 35px;
  /* Taille de la police */
  cursor: pointer;
  /* Change le curseur lorsqu'on passe dessus */
  z-index: 100;
  /* Assure que le bouton est au-dessus d'autres éléments */
}

section {
  padding: 20px 15px;
}

section p {
  font-size: 20px;
}

/* Styles spécifiques pour les écrans de moins de 498px de large */
@media screen and (max-width: 498px) {
  .menu-btn {
    display: block;
    /* Affiche le bouton du menu */
  }

  /* Style pour le menu de navigation en mode mobile */
  nav {
    background-color: #000;
    /* Couleur de fond noire */
    position: absolute;
    /* Positionne le menu absolument */
    top: 0;
    /* Positionne en haut */
    left: -100%;
    /* Cache le menu en le déplaçant hors de l'écran à gauche */
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    display: flex;
    /* Utilise le modèle de boîte flexible */
    justify-content: center;
    /* Centre les éléments horizontalement */
    transition: left 0.3s ease;
    /* Animation de transition */
  }

  /* Style pour le menu actif (visible) */
  nav.active {
    left: 0;
    /* Affiche le menu en le déplaçant dans l'écran */
  }

  /* Style pour les éléments de la liste en mode mobile */
  nav ul {
    flex-direction: column;
    /* Arrange les éléments verticalement */
    align-items: center;
    /* Centre les éléments horizontalement */
    justify-content: center;
    /* Centre les éléments verticalement */
    gap: 24px;
    /* Espacement entre les éléments */
  }

  /* Supprime la marge gauche des liens en mode mobile */
  ul li a {
    margin-left: 0;
  }

  section p {
    font-size: 16px;
  }
}